<!DOCTYPE html>
<html>
<head>
  <title>Your Page Title</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <style>
    body {
      background-color: #f8f9fa;
    }
    .form-container {
      background-color: #f0f0f0;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .form-container .form-control {
      border-radius: 5px;
    }
    .form-container .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .form-container .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
    .form-container .btn-secondary {
      background-color: #6c757d;
      border-color: #6c757d;
    }
    .form-container .btn-secondary:hover {
      background-color: #545b62;
      border-color: #545b62;
    }
  </style>
</head>
<body>

<div class="container mt-5">
  <div class="form-container">
    <%= form_with(model: @artist, url: artists_path, html: {class: "form"}) do |form| %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= form.label :bio %>
        <%= form.text_area :bio, class: 'form-control' %>
      </div>
    
      <%= form.submit 'Add Artist', class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'View All Artists', artists_path, class: 'btn btn-primary mb-3' %>
    <%= link_to 'Back', dashboard_path(current_user.id), class: 'btn btn-secondary mb-3' %>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
